<html>
	<body>
		<!DOCTYPE html>
		<head>
			<title>magellan</title>
			<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
			<style type="text/css">
			  html { height: 100% }
			  body { height: 100%; margin: 5px; padding: 0px; font-family: Arial; font-size: 16px; letter-spacing: -1px; }
			  #map_canvas { height: 100% }
				a, a:visited{
					color: #4096EE;
					text-decoration: none;
				}
				a:hover{
					text-decoration: underline;
				}
			</style>
			<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAiW850g-4ERWjvRzwogLLKhSJZ6LIs1RNWjowy7H-ueRQnwdWDRSAVWGOqIXpP7zRLIzG50R_XEci_A" type="text/javascript"></script>
			<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		</head>
		<body>
			<div style="width: 100%;" align="center">
				<div style="width: 960px; padding-bottom: 25px;" align="left">
					<div style="font-size:32px; padding-bottom: 5px;"><a href="/">magellan</a></div>
					<% if !flash[:notice].nil? %>
						<div id="notice"><%= flash[:notice] %></div>
					<% end %>
					
					<% if !flash[:error].nil? %>
						<div id="error"><%= flash[:error] %></div>
					<% end %>
					
					<div>
						<%= yield @content %>
					</div>
					<div align="left" style="padding-top: 15px; font-size: 12px;">Powered by <a href="http://github.com/speric/magellan">magellan</a></div>
				</div>				
			</div>
		</body>
	</html>
</body>